<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'nav_bar.css' %}"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<nav class="nav_bar">
    <div class="nav_bar_logo">
        <span>BETTLE</span>
    </div>
    
    <ul class="nav_bar_menu">
        <Li class="nav_bar_menuItem"><a href="#"> HOME </a></Li>
        <Li class="nav_bar_menuItem"><a href="#"> BULLET 충전 </a></Li>
        <Li class="nav_bar_menuItem"><a href="#"> 팀 생성하기 </a></Li>
        <Li class="nav_bar_menuItem"><a href="#"> 팀 매칭하기 </a></Li>
        <Li class="nav_bar_menuItem"><a href="#"> 안녕하세요 {{ }} 님 </a></Li>
    </ul>
</nav>
    
</body>
</html>


