<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <li class="navbar__menu__item">
      <a href="{% url 'signup' %}" 회원가입></a>
    </li>
  </body>
</html>
{% if user.is_authenticated %}
<li class="navbar__menu__item">
  <a href="{% url 'signup' %}">회원가입</a>
<li class="navbar__menu__item">
  <a href="{% url 'logout' %}">로그인</a>
</li>
<li class="navbar__menu__item">
  <a href="{% url 'logout' %}">로그아웃</a>
</li>
{% else %}
</li>
